body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}
button {
    font-family: 'Courier New', Courier, monospace;
}
#display {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px;
}
#buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: dotted;
    border-width: 5px;
    color: lightblue;
    border-color: lightblue;
    background-color: transparent;
    font-weight: bolder;

}
#text {
    display: flex;
    justify-content: space-around;
}
.textContainer {
    justify-content:space-around;
    align-items: center;
    display: flex;
    font-weight: bolder;
}
#scores {
    font-size: x-large;
}
#computer {
    color: pink;
}
#human {
    color: green;
}